### Pandas trick #1: Keep rows having minimum values

In [1]:
import pandas as pd

df = pd.DataFrame({
    "A": ["foo", "foo", "foo", "foo", "foo", "bar", "bar", "bar", "bar"],
    "B": ["one", "one", "one", "two", "two", "one", "one", "two", "two"],
    "C": ["small", "large", "large", "small", "small", "large", "small", "small", "large"],
    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]
})
df

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [2]:
df.groupby("A")["E"].transform("min")

0    2
1    2
2    2
3    2
4    2
5    6
6    6
7    6
8    6
Name: E, dtype: int64

In [3]:
df.groupby("A")["E"].transform("min").eq(df["E"])

0     True
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
Name: E, dtype: bool

In [4]:
df.loc[df.groupby("A")["E"].transform("min").eq(df["E"])]

     A    B      C  D  E
0  foo  one  small  1  2
5  bar  one  large  4  6

### Pandas trick #2: named aggregation

In [5]:
import pandas as pd
import numpy as np

animals = pd.DataFrame({
    "kind": ["cat", "dog", "cat", "dog"],
    "height": [9.1, 6.0, 9.5, 34.0],
    "weight": [7.9, 7.5, 9.9, 198.0]
})
animals

  kind  height  weight
0  cat     9.1     7.9
1  dog     6.0     7.5
2  cat     9.5     9.9
3  dog    34.0   198.0

In [6]:
animals.groupby("kind", as_index=False).agg(
    min_height=("height", "min"),
    max_height=("height", "max"),
    average_weight=("weight", np.mean)
)

  kind  min_height  max_height  average_weight
0  cat         9.1         9.5            8.90
1  dog         6.0        34.0          102.75

In [8]:
animals.groupby("kind", as_index=False).agg({"height": "min", "weight": "mean"})

  kind  height  weight
0  cat     9.1    8.90
1  dog     6.0  102.75

### Pandas trick #3: where

In [9]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    np.random.randn(6,4),
    index=list("abcdef"),
    columns=list("ABCD")
)
df

          A         B         C         D
a  1.238290 -1.252582 -0.097890  1.113947
b  1.041986  1.422114  0.576727 -0.570024
c -0.655976  1.107836 -0.123055 -0.253035
d -0.134230 -0.121379 -0.390351  0.188816
e -0.034223  0.264951  1.421854 -0.359819
f -0.706694 -0.692250  1.535281 -0.579824

In [10]:
df.where(df>0, -df)

          A         B         C         D
a  1.238290  1.252582  0.097890  1.113947
b  1.041986  1.422114  0.576727  0.570024
c  0.655976  1.107836  0.123055  0.253035
d  0.134230  0.121379  0.390351  0.188816
e  0.034223  0.264951  1.421854  0.359819
f  0.706694  0.692250  1.535281  0.579824

In [11]:
df.where(df>0, 0)

          A         B         C         D
a  1.238290  0.000000  0.000000  1.113947
b  1.041986  1.422114  0.576727  0.000000
c  0.000000  1.107836  0.000000  0.000000
d  0.000000  0.000000  0.000000  0.188816
e  0.000000  0.264951  1.421854  0.000000
f  0.000000  0.000000  1.535281  0.000000

### Pandas trick #4: ngroup()

In [12]:
import pandas as pd
df = pd.DataFrame({
    "a": [1,1,1,2,2,2],
    "b": [1,1,2,1,1,2]
})
df["idx"] = df.groupby(["a", "b"]).ngroup() + 1
df

   a  b  idx
0  1  1    1
1  1  1    1
2  1  2    2
3  2  1    3
4  2  1    3
5  2  2    4

### Pandas trick #5: resample & interpolate